@import 'nib'
@import '_base'

.app
  width 1000px
  margin 0px auto
  font-smoothing antialiased

  .header
    width 1000px
    height 244px
    background url("../images/the-wasp-factory.png") no-repeat
    background-size 1000px 84px
    background-position center 40px
    display table-cell
    text-align center
    vertical-align bottom

    .audio
      width 600px
      margin auto
      padding-bottom 10px
      a
        font-size 16px
        color #fff
        padding 3px 20px 3px 26px
        font-style normal
        text-decoration none
      a.sm2_link
        background url("../images/paused.png") no-repeat
        &:hover
          background url("../images/play.png") no-repeat
      a.sm2_playing
        background url("../images/playing.png") no-repeat

    .links
      padding-top 10px
      a
        font-size 24px
        font-style italic
        color #50e2a3
        text-decoration none
        padding 6px
        margin 10px
        &:hover
          border-bottom 1px solid white

  .content
    width 600px
    margin auto
    color white
    text-shadow 0px 5px 20px black

    h5
      color white
      font-weight normal
      padding-top 60px

    hr
      margin 40px 0px

    p
      font-size 20px

    .footnote
      font-size 14px
      padding-bottom 40px
      font-style italic

    .ben
      color #50e2a3

::selection
  background rgba(0,0,0,0.5)
