@import 'nib'
@import '_base'

.app
  width 1000px
  margin 0px auto
  font-smoothing antialiased

  .header
    width 1000px
    height 124px
    background url("../images/the-wasp-factory.png") no-repeat
    background-size 1000px 84px
    background-position bottom left

  .content
    width 600px
    margin auto
    color white
    text-shadow 0px 5px 20px black

    h5
      color white
      font-weight normal
      padding-top 40px

    hr
      margin 40px 0px

    p
      font-size 20px

    .footnote
      font-size 13px
      padding-bottom 40px
      font-style italic

    .ben
      color #50e2a3

::selection
  background rgba(0,0,0,0.5)
